### Data Processing and Cleaning for the CPI Dashboard

by Amitha David

Import necessary package and read the CSV file

In [ ]:
import pandas as pd
csv_file_path = 'All_India_Index.csv'
df = pd.read_csv(csv_file_path)

Displaying the data types of each feature

In [ ]:
df.dtypes

Sector                                  object
Year                                     int64
Month                                   object
Cereals and products                   float64
Meat and fish                          float64
Egg                                    float64
Milk and products                      float64
Oils and fats                          float64
Fruits                                 float64
Vegetables                             float64
Pulses and products                    float64
Sugar and Confectionery                float64
Spices                                 float64
Non-alcoholic beverages                float64
Prepared meals, snacks, sweets etc.    float64
Food and beverages                     float64
Pan, tobacco and intoxicants           float64
Clothing                               float64
Footwear                               float64
Clothing and footwear                  float64
Housing                                 object
Fuel and light                         float64
Household goods and services           float64
Health                                 float64
Transport and communication            float64
Recreation and amusement               float64
Education                              float64
Personal care and effects              float64
Miscellaneous                          float64
General index                          float64
dtype: object

Changing the datatype of 'Housing' from *object* to *numeric*

In [ ]:
df['Housing'] = pd.to_numeric(df['Housing'], errors='coerce')

Visualising Missing Values

In [ ]:
missing_values = df.isna().sum()

# To get the total count of missing values across the entire DataFrame, you can use:
total_missing_values = missing_values.sum()

print("Missing values in each column:")
print(missing_values)

print("\nTotal missing values in the DataFrame:")
print(total_missing_values)

Missing values in each column:
Sector                                   0
Year                                     0
Month                                    0
Cereals and products                     3
Meat and fish                            6
Egg                                      3
Milk and products                        3
Oils and fats                            3
Fruits                                   3
Vegetables                               3
Pulses and products                      3
Sugar and Confectionery                  3
Spices                                   3
Non-alcoholic beverages                  3
Prepared meals, snacks, sweets etc.      6
Food and beverages                       3
Pan, tobacco and intoxicants             6
Clothing                                 6
Footwear                                 6
Clothing and footwear                    6
Housing                                125
Fuel and light                           3
Household goods and services             6
Health                                   3
Transport and communication              6
Recreation and amusement                 6
Education                                6
Personal care and effects                6
Miscellaneous                            6
General index                            6
dtype: int64

Total missing values in the DataFrame:
242

Cleaning up missing values by replacing it with the column mean

In [ ]:
column_means = df.mean()
df.fillna(column_means, inplace=True)

<ipython-input-10-b96dc9e50c68>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  column_means = df.mean()

Convert the dataframe back to CSV and download

In [ ]:
df.to_csv('output.csv', index=False)